* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
   width: 100%;
   height: 100%;
   display: block;
}

.size {
     
  button {
     width: 50px;
     border-radius: 50%;
     margin-right: 25px;
     margin-top: 10px;
  }
}

.shoe {
  img {
    height: 221.9px;
  }
   .card-text {
     height: 50px;
   }
}